body{
    background-color: #e2d4c6;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}
.navbar{
    height:5rem;
    background-color: #e2d4c6;
}
.navbar-brand{
    color:#584533 !important;
    font-weight: bold;
}
.nav-link{
    color:black !important;
}

/* footer */
.f-info a{
    text-decoration: none;
    color: black;
    
}
.f-info{
    background-color: #e2d4c6;
    color: #584533;
    display: flex;
    justify-content: space-between;
    gap: 2rem; 
    flex-wrap: wrap;
    height:50vh;
}
.f-info > div {
    flex: 1; /* let each div take equal space */
    min-width: 200px; /* ensures it doesn’t shrink too much */
  }
.quick-links ul {
    list-style: none;         /* removes the bullets */
    padding-left: 0.1rem;          /* removes default left padding */
    margin-top: 0.2rem;       /* optional: small spacing from heading */
}

.organizer ul{
    list-style: none;         /* removes the bullets */
    padding-left: 0.1rem;          /* removes default left padding */
    margin-top: 0.2rem; 
}
.f-socials-link{
  
  font-size: 1.3rem; 
  text-decoration: none;     /* removes underline */
  transition: color 0.3s ease;
  
}
.f-socials-link a:hover {
    color: #584533;           /* hover color effect */
}
.f-logo{
    color: #584533;
    margin-left: 1rem;

}
.f-social-icon{
    padding-left: 0.7rem;

}
.terms-policy ul{
    list-style: none;         /* removes the bullets */
    padding-left: 0.1rem;          /* removes default left padding */
    margin-top: 0.2rem;  
}

/* event card */
.book-btn{
    background-color: #584533 !important;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding:14px;
    border-radius: 16px;
    

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-body p{
    font-weight: 400;
}
.event-link{
    text-decoration: none;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}
/*new page */
.create-btn {
    background-color: #584533 !important;
    border: none !important;
}
/* edit page */
.edit-btn {
    background-color: #584533 !important;
    border: none !important;
    margin-bottom: 30px;
}

/* show page */
.show-img{
    height:50vh;

}
.show-btns{
    display: flex;
    margin-bottom: 10px;
    margin-top: 40px;
    gap:10px;

}
.del-btn{
    margin-left: 20px;
}
.edit-btnn{
    background-color: #584533 !important;
}

/* Review section */
/* .review-show-section{
    display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100%;            
  text-align: center;   
  flex-direction: column;
} */

.signupCard{
    border:1px ;
    padding:30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;

}

